version: '3.8'

services:
  postgres:
    image: postgres:13
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    restart: always

  backend:
    image: ${DOCKERHUB_USERNAME}/kittygram_backend:latest
    env_file: .env
    depends_on:
      - postgres
    volumes:
      - static:/app/static
      - media:/media
    restart: always

  frontend:
    image: ${DOCKERHUB_USERNAME}/kittygram_frontend:latest
    volumes:
      - static:/static
    depends_on:
      - backend

  gateway:
    image: ${DOCKERHUB_USERNAME}/kittygram_gateway:latest
    ports:
      - "${GATEWAY_PORT:-9000}:80"
    volumes:
      - static:/usr/share/nginx/html
      - media:/media
    depends_on:
      - backend
      - frontend
    restart: always

volumes:
  pg_data:
  static:
  media:
