services:
  postgres:
    image: postgres:13
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    restart: always
    networks:
      - internal_network

  backend:
    image: ${DOCKERHUB_USERNAME}/kittygram_backend:latest
    env_file: .env
    depends_on:
      - postgres
    volumes:
      - static:/app/collected_static
      - media:/app/media
    restart: always
    networks:
      - internal_network

  frontend:
    image: ${DOCKERHUB_USERNAME}/kittygram_frontend:latest
    volumes:
      - static:/static
    depends_on:
      - backend
    networks:
      - internal_network

  gateway:
    image: ${DOCKERHUB_USERNAME}/kittygram_gateway:latest
    ports:
      - "80:80"
    volumes:
      - static:/static
      - media:/media
    depends_on:
      - backend
      - frontend
    restart: always
    networks:
      - internal_network

volumes:
  pg_data:
  static:
  media:

networks:
  internal_network:
    driver: bridge
